* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}